<section>
    <div class="home-container">
        <div class="overlay">
            <header>
                <h1>Bienvenido a DWⅢ</h1>
                <!-- <h2>Tu futuro comienza aquí</h2> -->
            </header>
            <br>
            <section class="about-university">
                <h3>Sobre la Universidad DWⅢ</h3>
                <p>
                    La Universidad DWⅢ se dedica a proporcionar educación de alta calidad, formando profesionales
                    competentes y comprometidos con la sociedad.
                    Nuestra misión es fomentar el aprendizaje continuo y la innovación, preparando a nuestros
                    estudiantes para enfrentar los desafíos del mundo moderno.
                </p>
                <p>
                    Con una amplia oferta académica y un equipo docente altamente calificado, DWⅢ brinda una experiencia
                    educativa única en un ambiente colaborativo y dinámico.
                </p>
            </section>
            <br>
            <section class="courses">
                <h3>Cursos Ofrecidos</h3>
                <p>
                    En DWⅢ, ofrecemos una variedad de cursos en áreas como tecnología, ciencias sociales, y negocios.
                    Nuestros programas están diseñados para equipar a los estudiantes con las habilidades necesarias
                    para sobresalir en sus carreras.
                </p>

                <br>
                <h3>Algunos de los cursos destacados incluyen:</h3>
                <span class="course-list">
                    <ul>
                        <li>Desarrollo Web</li>
                        <li>Inteligencia Artificial</li>
                        <li>Gestión de Proyectos</li>
                    </ul>
                </span>
            </section>
        </div>
    </div>
</section>